<%= image_tag(asset_path("logos/ic_launcher_xhdpi.png")) %>

<p><b>Hola, un usuario nos envió un comentario!</b></p>

<p> Nombre: <%= @name %> </p>
<p> Correo: <%= @email %> </p>
<p> Fecha: <%= l DateTime.new %></p>
<p> Mensaje: <b><%= @message %></b> </p>

<%= render "firma" %>