<%= image_tag(asset_path("logos/ic_launcher_xhdpi.png")) %>

<p>Hola <b><%= @resource.name %>!</b></p>

<p>Tu Nueva Clave para Ingresar a Crackapp es: </p>

<p><%= @password %></p>

<%= render "firma" %>