<div class="login">
  <img src="<%= image_path('logos/icon.png') %>">
  <h1>Crack Backend</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
     <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
     </div>
    <div class="actions">
      <%= f.submit "Autenticar" %>
    </div>
  <% end %>
</div>
